.ui-jqgrid,
.ui-jqgrid * {
 box-sizing:content-box!important;
 -webkit-box-sizing:content-box!important;
 -moz-box-sizing:content-box!important
}
.ui-jqgrid {
 border:none!important;
 border-left:1px solid #d3d3d3!important;
 border-right:1px solid #d3d3d3!important;
 border-bottom:1px solid #d3d3d3!important
}
.ui-jqgrid .ui-jqgrid-htable th {
 height:38px;
 padding:0;
 background:url(./images/bg_header_datatable.jpg) repeat-x
}
.ui-th-ltr,
.ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
 border-left:0 none;
 border:0
}
.ui-jqgrid tr.jqgrow td {
 border-bottom:1px solid #EEE;
 height:39px;
 padding:0
}
.ui-jqgrid tr.ui-row-ltr td {
 border-right:none!important;
 text-overflow:ellipsis;
 padding-right:10px!important
}
.ui-jqgrid tr.ui-row-ltr td:first-child {
 padding:0!important
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
 background:#eee
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
 background:#eee;
 border:none!important
}
.ui-jqgrid .ui-jqgrid-sortable {
 text-align:left
}
.ui-icon-seek-first,
.ui-icon-seek-end {
 display:none!important
}
.datatable-buttonsEventFunction,
.datatable-buttonsEventFunction:link,
.datatable-buttonsEventFunction:visited {
 color:#333;
 text-decoration:none;
 cursor:pointer;
 margin-top:7px;
 padding:8px;
 display:block
}
.datatable-buttons-more {
 display:none;
 position:absolute;
 top:38px;
 background:#FFF;
 margin:0 -1px!important;
 padding:0!important;
 box-shadow:1px 1px 3px 1px #cacaca;
 border:1px solid #cacaca
}
.datatable-buttons-more-clone {
 display:none;
 position:absolute;
 background:#FFF;
 margin:0!important;
 padding:0 15px!important;
 margin-top:19px!important;
 -moz-box-shadow:0 3px 3px 1px #cacaca;
 -webkit-box-shadow:0 3px 3px 1px #cacaca;
 box-shadow:0 3px 3px 1px #cacaca
}
.datatable-buttons-more li,
.datatable-buttons-more-clone li {
 display:block!important;
 border:none!important
}
.datatable-more-active a {
 color:#000!important
}
.ui-jqgrid .ui-jqgrid-pager {
 height:50px!important;
 background:#f5f5f5!important;
 color:#333;
 padding-top:12px!important;
 border-bottom:1px solid #d3d3d3!important;
 border-top-left-radius:4px;
 border-top-right-radius:4px
}
.ui-jqgrid .ui-jqgrid-pager-clone {
 background:#dfdfdf!important
}
.ui-jqgrid-pager-clone span {
 color:#333!important
}
.ui-jqgrid .ui-pg-table {
 width:265px!important;
 float:right!important;
 table-layout:auto!important
}
.ui-jqgrid .ui-pg-table tbody tr td table {
 width:120px!important
}
.ui-jqgrid .ui-pg-table td {
 color:#FFF
}
.datatable-page-buttons-clone {
 bottom:0;
 top:auto!important
}
.ui-jqgrid .datatable-page-buttons-clone a {
 color:#333!important
}
.datatable-page-buttons {
 width:85%;
 width:-webkit-calc(85% - 125px);
 width:-moz-calc(85% - 125px);
 width:calc(85% - 125px);
 position:absolute;
 top:0;
 z-index:1;
 height:0;
 margin:0;
 left:0;
 color:#868686!important;
 padding:0!important;
 display:table
}
.datatable-page-buttons ul,
.datatable-page-buttons-clone ul {
 margin:0;
 padding:0;
 margin-top:1px;
 white-space:nowrap
}
.datatable-page-buttons ul li,
.datatable-page-buttons-clone ul li {
 display:inline-block;
 height:47px;
 white-space:nowrap
}
.datatable-page-buttons-bottom {
 position:relative;
 float:right
}
.datatable-page-buttons-bottom a {
 color:#000!important
}
.ui-jqgrid .ui-jqgrid-hbox {
 padding-right:0
}
.ui-jqgrid tr.jqgfirstrow td {
 padding:0;
 border-right-width:0
}
.ui-jqgrid .ui-paging-info {
 text-align:left!important;
 margin-left:4px
}
.ui-jqgrid .ui-jqgrid-hdiv {
 height:38px;
 padding:0;
 background:transparent
}
.datatable-page-search .form {
 width:100%
}
.ui-jqgrid tr.jqgrow {
 border-width:1px 2px!important;
 border-style:solid!important;
 border-color:#d3d3d3!important
}
.ui-jqgrid .ui-jqgrid-bdiv {
 overflow-x:hidden;
 overflow-y:auto
}
.ui-jqgrid .ui-icon-seek-prev {
 background-image:url(./images/icon-prev-off.png);
 background-repeat:no-repeat;
 background-position:0 0;
 height:18px
}
.ui-jqgrid .ui-icon-seek-next {
 background-image:url(./images/icon-next-off.png);
 background-repeat:no-repeat;
 background-position:0 0;
 height:18px
}
.ui-jqgrid .ui-widget-overlay {
 position:absolute!important
}
.datatable-normal-button {
 height:32px!important
}
.datatable-last-button {
 height:35px!important
}
